.rate i,
.rate i:hover ~ i {
    color: #999;
    transition: color .3s;
    transition-delay: 0;
}

.rate-1 i:nth-child(-n + 1) {
    color: #ffa726;
}

.rate-2 i:nth-child(-n + 2) {
    color: #ffa726;
}

.rate-3 i:nth-child(-n + 3) {
    color: #ffa726;
}

.rate-4 i:nth-child(-n + 4) {
    color: #ffa726;
}

.rate-5 i:nth-child(-n + 5) {
    color: #ffa726;
}

.rate:hover i {
    color: #d00;
}

.rate:hover i:nth-child(2) {
    transition-delay: 30ms;
}

.rate:hover i:nth-child(3) {
    transition-delay: 60ms;
}

.rate:hover i:nth-child(4) {
    transition-delay: 90ms;
}

.rate:hover i:nth-child(5) {
    transition-delay: 120ms;
}

.rate i {
    cursor: pointer;
}
